jag-efax/src/main/resources/wsdl/OutputService.wsdl

<wsdl:definitions targetNamespace="http://adobe.com/idp/services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://adobe.com/idp/services" xmlns:intf="http://adobe.com/idp/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--Generated for Adobe LiveCycle 8.0.1
To get the latest WSDL, add the lc_version property to the end of the URL.
For example: http://localhost:8080/soap/services/MyService?wsdl&lc_version=9.0.0-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://adobe.com/idp/services" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xml.apache.org/xml-soap"/>
            <element name="generateOutput">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="0" name="outputOptionsSpec" type="impl:OutputOptionsSpec"/>
                        <element maxOccurs="1" minOccurs="0" name="renderOptionsSpec" type="impl:RenderOptionsSpec"/>
                        <element maxOccurs="1" minOccurs="0" name="inDataDoc" type="impl:BLOB"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="MyArrayOf_xsd_anyType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
                </sequence>
            </complexType>
            <complexType name="OutputOptionsSpec">
                <sequence>
                    <element name="PCLFormat" type="xsd:boolean"/>
                    <element name="ZPLFormat" type="xsd:boolean"/>
                    <element name="batch" type="xsd:boolean"/>
                    <element name="charset" nillable="true" type="xsd:string"/>
                    <element name="contentRoot" nillable="true" type="xsd:string"/>
                    <element name="copies" type="xsd:int"/>
                    <element name="dataFile" nillable="true" type="xsd:string"/>
                    <element name="emailBody" nillable="true" type="xsd:string"/>
                    <element name="emailRecipients" nillable="true" type="xsd:string"/>
                    <element name="emailServer" nillable="true" type="xsd:string"/>
                    <element name="emailSubject" nillable="true" type="xsd:string"/>
                    <element name="fileUri" nillable="true" type="xsd:string"/>
                    <element name="form" nillable="true" type="xsd:string"/>
                    <element name="locale" nillable="true" type="xsd:string"/>
                    <element name="lookAhead" type="xsd:int"/>
                    <element name="lpdURI" nillable="true" type="xsd:string"/>
                    <element name="metaDataSpecFile" nillable="true" type="xsd:string"/>
                    <element name="multipleOutput" type="xsd:boolean"/>
                    <element name="optionString" nillable="true" type="xsd:string"/>
                    <element name="options" nillable="true" type="xsd:string"/>
                    <element name="outputBin" nillable="true" type="xsd:string"/>
                    <element name="outputJog" nillable="true" type="xsd:string"/>
                    <element name="outputStream" nillable="true" type="xsd:string"/>
                    <element name="pageOffsetX" nillable="true" type="xsd:string"/>
                    <element name="pageOffsetY" nillable="true" type="xsd:string"/>
                    <element name="pagination" nillable="true" type="xsd:string"/>
                    <element name="postScriptFormat" type="xsd:boolean"/>
                    <element name="printFormat" nillable="true" type="xsd:string"/>
                    <element name="printUri" nillable="true" type="xsd:string"/>
                    <element name="printerQueueName" nillable="true" type="xsd:string"/>
                    <element name="recordIdField" nillable="true" type="xsd:string"/>
                    <element name="recordLevel" type="xsd:int"/>
                    <element name="recordLevelMetaData" type="xsd:boolean"/>
                    <element name="recordName" nillable="true" type="xsd:string"/>
                    <element name="requestor" nillable="true" type="xsd:string"/>
                    <element name="rules" nillable="true" type="impl:MyArrayOf_xsd_anyType"/>
                    <element name="serverPrintSpec" nillable="true" type="xsd:string"/>
                    <element name="singleOutput" type="xsd:boolean"/>
                    <element name="staple" nillable="true" type="xsd:string"/>
                    <element name="waitForResponse" type="xsd:boolean"/>
                    <element name="xci" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <simpleType name="PDFAConformance">
                <restriction base="xsd:string">
                    <enumeration value="A"/>
                    <enumeration value="B"/>
                </restriction>
            </simpleType>
            <simpleType name="PDFARevisionNumber">
                <restriction base="xsd:string">
                    <enumeration value="Revision_1"/>
                </restriction>
            </simpleType>
            <complexType name="RenderOptionsSpec">
                <sequence>
                    <element name="PDFAAmendment" nillable="true" type="xsd:string"/>
                    <element name="PDFAConformance" nillable="true" type="impl:PDFAConformance"/>
                    <element name="PDFARevisionNumber" nillable="true" type="impl:PDFARevisionNumber"/>
                    <element name="cacheEnabled" nillable="true" type="xsd:boolean"/>
                    <element name="debugEnabled" type="xsd:boolean"/>
                    <element name="linearizedPDF" type="xsd:boolean"/>
                    <element name="options" nillable="true" type="xsd:string"/>
                    <element name="pdfVersion" nillable="true" type="xsd:string"/>
                    <element name="renderAtClient" nillable="true" type="xsd:string"/>
                    <element name="taggedPDF" type="xsd:boolean"/>
                </sequence>
            </complexType>
            <complexType name="BLOB">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="contentType" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="binaryData" type="xsd:base64Binary"/>
                    <element maxOccurs="1" minOccurs="0" name="attachmentID" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="remoteURL" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="generateOutputResponse">
                <complexType>
                    <sequence>
                        <element name="outResultDoc" type="impl:BLOB"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputException" type="xsd:anyType"/>
            <element name="generatePDFOutput">
                <complexType>
                    <sequence>
                        <element name="transformationFormat" type="impl:TransformationFormat"/>
                        <element name="form" type="xsd:string"/>
                        <element name="contentRoot" type="xsd:string"/>
                        <element maxOccurs="1" minOccurs="0" name="pdfOutputOptionsSpec" type="impl:PDFOutputOptionsSpec"/>
                        <element maxOccurs="1" minOccurs="0" name="renderOptionsSpec" type="impl:RenderOptionsSpec"/>
                        <element maxOccurs="1" minOccurs="0" name="inDataDoc" type="impl:BLOB"/>
                    </sequence>
                </complexType>
            </element>
            <simpleType name="TransformationFormat">
                <restriction base="xsd:string">
                    <enumeration value="PDF"/>
                    <enumeration value="PDFA"/>
                </restriction>
            </simpleType>
            <complexType name="PDFOutputOptionsSpec">
                <sequence>
                    <element name="XCIURI" nillable="true" type="xsd:string"/>
                    <element name="charset" nillable="true" type="xsd:string"/>
                    <element name="fileURI" nillable="true" type="xsd:string"/>
                    <element name="generateManyFiles" type="xsd:boolean"/>
                    <element name="locale" nillable="true" type="xsd:string"/>
                    <element name="lookAhead" type="xsd:int"/>
                    <element name="lpdURI" nillable="true" type="xsd:string"/>
                    <element name="metaDataSpecFile" nillable="true" type="xsd:string"/>
                    <element name="printerQueueName" nillable="true" type="xsd:string"/>
                    <element name="printerURI" nillable="true" type="xsd:string"/>
                    <element name="recordIdField" nillable="true" type="xsd:string"/>
                    <element name="recordLevel" type="xsd:int"/>
                    <element name="recordLevelMetaData" type="xsd:boolean"/>
                    <element name="recordName" nillable="true" type="xsd:string"/>
                    <element name="rules" nillable="true" type="impl:MyArrayOf_xsd_anyType"/>
                    <element name="serverPrintSpec" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="generatePDFOutputResponse">
                <complexType>
                    <sequence>
                        <element name="generatePDFOutputPDFDoc" type="impl:BLOB"/>
                        <element name="generatePDFOutputMetaDataDoc" type="impl:BLOB"/>
                        <element name="generatePDFOutputResultDoc" type="impl:BLOB"/>
                        <element name="generatePDFOutputResult" type="impl:OutputResult"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="OutputResult">
                <sequence>
                    <element name="generatedDoc" nillable="true" type="impl:BLOB"/>
                    <element name="metaDataDoc" nillable="true" type="impl:BLOB"/>
                    <element name="recordLevelMetaDataList" nillable="true" type="impl:MyArrayOf_xsd_anyType"/>
                    <element name="statusDoc" nillable="true" type="impl:BLOB"/>
                </sequence>
            </complexType>
            <element name="generatePrintedOutput">
                <complexType>
                    <sequence>
                        <element name="printFormat" type="impl:PrintFormat"/>
                        <element name="form" type="xsd:string"/>
                        <element name="contentRoot" type="xsd:string"/>
                        <element maxOccurs="1" minOccurs="0" name="XDCURI" type="xsd:string"/>
                        <element maxOccurs="1" minOccurs="0" name="printedOutputOptionsSpec" type="impl:PrintedOutputOptionsSpec"/>
                        <element maxOccurs="1" minOccurs="0" name="inDataDoc" type="impl:BLOB"/>
                    </sequence>
                </complexType>
            </element>
            <simpleType name="PrintFormat">
                <restriction base="xsd:string">
                    <enumeration value="PCL"/>
                    <enumeration value="PostScript"/>
                    <enumeration value="ZPL"/>
                </restriction>
            </simpleType>
            <simpleType name="OutputJog">
                <restriction base="xsd:string">
                    <enumeration value="usePrinterSetting"/>
                    <enumeration value="none"/>
                    <enumeration value="pageSet"/>
                </restriction>
            </simpleType>
            <simpleType name="Pagination">
                <restriction base="xsd:string">
                    <enumeration value="simplex"/>
                    <enumeration value="duplexShortEdge"/>
                    <enumeration value="duplexLongEdge"/>
                </restriction>
            </simpleType>
            <simpleType name="Staple">
                <restriction base="xsd:string">
                    <enumeration value="usePrinterSetting"/>
                    <enumeration value="on"/>
                    <enumeration value="off"/>
                </restriction>
            </simpleType>
            <complexType name="PrintedOutputOptionsSpec">
                <sequence>
                    <element name="XCIURI" nillable="true" type="xsd:string"/>
                    <element name="charset" nillable="true" type="xsd:string"/>
                    <element name="copies" type="xsd:int"/>
                    <element name="fileURI" nillable="true" type="xsd:string"/>
                    <element name="generateManyFiles" type="xsd:boolean"/>
                    <element name="locale" nillable="true" type="xsd:string"/>
                    <element name="lookAhead" type="xsd:int"/>
                    <element name="lpdURI" nillable="true" type="xsd:string"/>
                    <element name="metaDataSpecFile" nillable="true" type="xsd:string"/>
                    <element name="outputBin" nillable="true" type="xsd:string"/>
                    <element name="outputJog" nillable="true" type="impl:OutputJog"/>
                    <element name="pageOffsetX" nillable="true" type="xsd:string"/>
                    <element name="pageOffsetY" nillable="true" type="xsd:string"/>
                    <element name="pagination" nillable="true" type="impl:Pagination"/>
                    <element name="printerQueueName" nillable="true" type="xsd:string"/>
                    <element name="printerURI" nillable="true" type="xsd:string"/>
                    <element name="recordIdField" nillable="true" type="xsd:string"/>
                    <element name="recordLevel" type="xsd:int"/>
                    <element name="recordLevelMetaData" type="xsd:boolean"/>
                    <element name="recordName" nillable="true" type="xsd:string"/>
                    <element name="rules" nillable="true" type="impl:MyArrayOf_xsd_anyType"/>
                    <element name="serverPrintSpec" nillable="true" type="xsd:string"/>
                    <element name="staple" nillable="true" type="impl:Staple"/>
                </sequence>
            </complexType>
            <element name="generatePrintedOutputResponse">
                <complexType>
                    <sequence>
                        <element name="generatePrintedOutputPrintedDoc" type="impl:BLOB"/>
                        <element name="generatePrintedOutputMetaDataDoc" type="impl:BLOB"/>
                        <element name="generatePrintedOutputResultDoc" type="impl:BLOB"/>
                        <element name="generatePrintedOutputResult" type="impl:OutputResult"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getResult">
                <complexType>
                    <sequence>
                        <element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getResultResponse">
                <complexType>
                    <sequence>
                        <element name="outXmlDoc" type="impl:BLOB"/>
                    </sequence>
                </complexType>
            </element>
            <element name="print">
                <complexType>
                    <sequence>
                        <element name="inDataDoc" type="impl:BLOB"/>
                        <element name="printUri" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="printResponse">
                <complexType/>
            </element>
            <element name="LPRPrint">
                <complexType>
                    <sequence>
                        <element name="inDataDoc" type="impl:BLOB"/>
                        <element name="lpdURI" type="xsd:string"/>
                        <element maxOccurs="1" minOccurs="0" name="printerQueueName" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="LPRPrintResponse">
                <complexType/>
            </element>
            <element name="transformPDF">
                <complexType>
                    <sequence>
                        <element name="inPdfDoc" type="impl:BLOB"/>
                        <element name="transformationFormat" type="impl:TransformationFormat"/>
                        <element maxOccurs="1" minOccurs="0" name="pdfaRevisionNumber" type="impl:PDFARevisionNumber"/>
                        <element maxOccurs="1" minOccurs="0" name="pdfaAmendment" type="xsd:string"/>
                        <element maxOccurs="1" minOccurs="0" name="pdfaConformance" type="impl:PDFAConformance"/>
                    </sequence>
                </complexType>
            </element>
            <element name="transformPDFResponse">
                <complexType>
                    <sequence>
                        <element name="outPdfDoc" type="impl:BLOB"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="Rule">
                <sequence>
                    <element name="form" nillable="true" type="xsd:string"/>
                    <element name="pattern" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <simpleType name="ResourcesInPDF">
                <restriction base="xsd:string">
                    <enumeration value="NONE"/>
                    <enumeration value="IMAGES"/>
                </restriction>
            </simpleType>
        </schema>
        <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://adobe.com/idp/services"/>
            <complexType name="Vector">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="generateOutputRequest">
        <wsdl:part element="impl:generateOutput" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="LPRPrintRequest">
        <wsdl:part element="impl:LPRPrint" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generatePrintedOutputResponse">
        <wsdl:part element="impl:generatePrintedOutputResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generatePDFOutputRequest">
        <wsdl:part element="impl:generatePDFOutput" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generatePrintedOutputRequest">
        <wsdl:part element="impl:generatePrintedOutput" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="LPRPrintResponse">
        <wsdl:part element="impl:LPRPrintResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="printRequest">
        <wsdl:part element="impl:print" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="transformPDFRequest">
        <wsdl:part element="impl:transformPDF" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateOutputResponse">
        <wsdl:part element="impl:generateOutputResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getResultResponse">
        <wsdl:part element="impl:getResultResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generatePDFOutputResponse">
        <wsdl:part element="impl:generatePDFOutputResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getResultRequest">
        <wsdl:part element="impl:getResult" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="OutputException">
        <wsdl:part element="impl:OutputException" name="OutputException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="transformPDFResponse">
        <wsdl:part element="impl:transformPDFResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="printResponse">
        <wsdl:part element="impl:printResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OutputService">
        <wsdl:operation name="generateOutput">
            <wsdl:input message="impl:generateOutputRequest" name="generateOutputRequest"></wsdl:input>
            <wsdl:output message="impl:generateOutputResponse" name="generateOutputResponse"></wsdl:output>
            <wsdl:fault message="impl:OutputException" name="OutputException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generatePDFOutput">
            <wsdl:input message="impl:generatePDFOutputRequest" name="generatePDFOutputRequest"></wsdl:input>
            <wsdl:output message="impl:generatePDFOutputResponse" name="generatePDFOutputResponse"></wsdl:output>
            <wsdl:fault message="impl:OutputException" name="OutputException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generatePrintedOutput">
            <wsdl:input message="impl:generatePrintedOutputRequest" name="generatePrintedOutputRequest"></wsdl:input>
            <wsdl:output message="impl:generatePrintedOutputResponse" name="generatePrintedOutputResponse"></wsdl:output>
            <wsdl:fault message="impl:OutputException" name="OutputException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getResult">
            <wsdl:input message="impl:getResultRequest" name="getResultRequest"></wsdl:input>
            <wsdl:output message="impl:getResultResponse" name="getResultResponse"></wsdl:output>
            <wsdl:fault message="impl:OutputException" name="OutputException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="print">
            <wsdl:input message="impl:printRequest" name="printRequest"></wsdl:input>
            <wsdl:output message="impl:printResponse" name="printResponse"></wsdl:output>
            <wsdl:fault message="impl:OutputException" name="OutputException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="LPRPrint">
            <wsdl:input message="impl:LPRPrintRequest" name="LPRPrintRequest"></wsdl:input>
            <wsdl:output message="impl:LPRPrintResponse" name="LPRPrintResponse"></wsdl:output>
            <wsdl:fault message="impl:OutputException" name="OutputException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="transformPDF">
            <wsdl:input message="impl:transformPDFRequest" name="transformPDFRequest"></wsdl:input>
            <wsdl:output message="impl:transformPDFResponse" name="transformPDFResponse"></wsdl:output>
            <wsdl:fault message="impl:OutputException" name="OutputException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OutputServiceSoapBinding" type="impl:OutputService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="generateOutput">
            <wsdlsoap:operation soapAction="generateOutput"/>
            <wsdl:input name="generateOutputRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateOutputResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OutputException">
                <wsdlsoap:fault name="OutputException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generatePDFOutput">
            <wsdlsoap:operation soapAction="generatePDFOutput"/>
            <wsdl:input name="generatePDFOutputRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generatePDFOutputResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OutputException">
                <wsdlsoap:fault name="OutputException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generatePrintedOutput">
            <wsdlsoap:operation soapAction="generatePrintedOutput"/>
            <wsdl:input name="generatePrintedOutputRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generatePrintedOutputResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OutputException">
                <wsdlsoap:fault name="OutputException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getResult">
            <wsdlsoap:operation soapAction="getResult"/>
            <wsdl:input name="getResultRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getResultResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OutputException">
                <wsdlsoap:fault name="OutputException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="print">
            <wsdlsoap:operation soapAction="print"/>
            <wsdl:input name="printRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="printResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OutputException">
                <wsdlsoap:fault name="OutputException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="LPRPrint">
            <wsdlsoap:operation soapAction="LPRPrint"/>
            <wsdl:input name="LPRPrintRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="LPRPrintResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OutputException">
                <wsdlsoap:fault name="OutputException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="transformPDF">
            <wsdlsoap:operation soapAction="transformPDF"/>
            <wsdl:input name="transformPDFRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="transformPDFResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OutputException">
                <wsdlsoap:fault name="OutputException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OutputServiceService">
        <wsdl:port binding="impl:OutputServiceSoapBinding" name="OutputService">
            <wsdlsoap:address location="https://wsgw.test.jag.gov.bc.ca/courts/eInformation/OutPutService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
